1_Basics/test.ipynb
1_Basics/test.py
2_Advanced/1_Pandas_Accessing_Data.ipynb
2_Advanced/2_Pandas_Data_Cleaning.ipynb
2_Advanced/3_Pandas_Data_Management.ipynb
2_Advanced/4_Pandas_Pivot_Table.ipynb
2_Advanced/5_Pandas_Index_management.ipynb
2_Advanced/6_Pandas_Exercise_Job_Demand.ipynb
2_Advanced/7_Pandas_Merge_DataFrame.ipynb
2_Advanced/8_Pandas_Concat_DataFrames.ipynb
2_Advanced/9_Pandas_Exporting_Data.ipynb
2_Advanced/10_Pandas_Applying_Functions.ipynb
2_Advanced/11_Pandas_Explode.ipynb
2_Advanced/12_Pandas_Exercise_Trending.ipynb
2_Advanced/13_Matplotlib_Format_Charts.ipynb
2_Advanced/14_Matplotlib_Pie_Scatter_Plot.ipynb
2_Advanced/15_Matplotlib_Scatter_Plots.ipynb
2_Advanced/16_Matplotlib_Advanced_Customization.ipynb
2_Advanced/17_Matplotlib_Histograms.ipynb
2_Advanced/18_Matplotlib_Boxplots.ipynb
2_Advanced/19_Exercise_Skill_Pay_Analysis.ipynb
2_Advanced/20_Seaborn_Intro.ipynb
